* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

#main {
    text-align: center;
    display: grid;
    grid-column: 1fr 3fr;
    grid-row: 1fr 3fr;
}

.header {
    background-color: whitesmoke;
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 45%;
    padding-top: 2%;
    padding-bottom: 4%;
}

.headDiv{
    height: 5px;
}

#search {
    display: flex;
    height: 1rem;
}

#nameIcon {
    height: 1rem;

}

#searchbar {
    width: 35em;
    height: 2em;
}

.headBtn {
    background-color: blue;
    border-radius: 20px;
    border-color: blue;
    color: white;
    font-size: 15px;
    padding: 5px;
    width: 6rem;
}

#hiThere {
    display: flex;
    text-align: left;
}

.hiText {
    display: flex;
    flex-direction: column;
}

.hiName{
    font-size: 20px;
}

.sidebar {
    background-color: violet;
    color: white;
    font-size: 20px;
    font-weight: 600;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    display: grid;
    grid-template-rows: 1fr 1fr;

}

.sidebar li {
    list-style-type: none;
    padding-bottom: 7px;
    padding-right: 20px;
}

.article {
    background-color: lightgray;
    grid-row: 2 / 5;
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-right: 5cqi;
    padding-top: 20px;

    
}

.cardHolder{
    margin-left: 20px;
    margin-right: 10px;

}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    list-style-type: none;
    column-gap: 15px;
    row-gap: 15px;
    padding-top: 3%;
}


.card {
    background-color: white;
    border-left: 10px solid orange;
    width: 15rem;
    text-align: left;
    font-size: 14px;
    height: 11.5rem;
    padding-right: 5%;
}

.cardIcons {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-content: end;
}

.cardSidebar {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-left: 5px;

}

.announcements {
    display: grid;
    background-color: white;
    row-gap: 10px;
    padding: 10px;
    margin-top: 7px;
}

.announce {
    font-size: 12px;
    width: 12rem;
    text-align: left;
    border-bottom: 3px solid pink;
    margin-bottom: 5%;
}

.trending {
    background-color: white;
    display: grid;
}

.trend {
    font-size: 12px;
    display: grid;
    grid-template-columns: 60px 1fr;
    padding-top: 10px;
    padding-bottom: 5%;
    
}

.trendCol1 {
    display: flex;
    padding-left: 20%;
}

.trendCol2 {
    text-align: left;
}

.subTitles{
    font-weight: 900;
    text-align: left;
}